@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_1480303_4nfbd8sk4kf.eot?t=1572406448025'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1480303_4nfbd8sk4kf.eot?t=1572406448025#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK8AAsAAAAABnQAAAJwAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp8gRoBNgIkAwgLBgAEIAWEbQc0G8QFEdWTC2Q/E+w2PjsELbaERZ+9zzs4OBM8n2vV+0l6NsvAPXMIKDxxeRLqHJEDkre2F+ccuBoVoUbyFj36QlIaZjn11yfztQD4n8vp3VXPe4HMD5TTHIvHBAwsDWisTZEVSeQNYxe4hOMQIIQMypC+gTEXi8EaJ4Bs3rBuBTbnxmBYzCL4apYa5DoOVl1QUXAt/L78YRALCkdjFUyt7V9N1/cSO0Ef944v9hE8IKDVDqCBMsCAuLXhCTTCSJqQsCEH9pUr8L3E83wtslcVwv46KzsMgDTIvieOy73VbAWAidvzgK5RN4JKCjsUSHiyvH0beP3affPGf+lda7z/3qWXJ1YWie/ezZv++nXD8uVPnvinkybL1aGbNw55AkWZUHQ43aJsMrFg4OmT6L6v+pmubN8uUDCLhS5N2LZdzSoXcpf8AW9OH1AfKAEBd2/sfSLb/ttQA8CHb/lPQ6c3Z+hnLbAnsAj8KE7POqPzLI0yKqfWqsgbNVYBIYQAHtgew9ex8vi7iguW+HuzBpGeGjVW50DUEMrAIZQ68GHphBBKGVwdSiw70YgJBko4A0CI4gkoIngJmiheoYbwBRwS+Ac+okRDCAGJ3TKUArGiOjJqQQfmD9EuMzk6UVHuDf171JzlheQX8h590DddMXbFGXmOGfvHDyIExMsEF3AajuMCKy8JrTRBZD20LdW9qbHLVKjiyKgFHZg/RLvM5LcWVfr8Df171NxSVGN8Ie+xc+ibrgd6Fc+9iu7llf3jBxEC4mWCCxiE47jAWj8ooZUmjAiuh9ZuRn3FzfrS6QOyWBmWoirtbnWhSM/e6RR9VVEAAA==') format('woff2'),
  url('//at.alicdn.com/t/font_1480303_4nfbd8sk4kf.woff?t=1572406448025') format('woff'),
  url('//at.alicdn.com/t/font_1480303_4nfbd8sk4kf.ttf?t=1572406448025') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_1480303_4nfbd8sk4kf.svg?t=1572406448025#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.5rem;
  color:white;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfangdajing:before {
  content: "\e62a";
}
  